@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Basic&display=swap');

*{
    font-family: "Basic", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    background-color: var(--color-primary);
}

.izq{
    border: 1px solid black;
    height: 100vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;

    & header{
        color: var(--color-terciary);
        font-size: 1.5vw;
        margin-top: 4vw;
    }

    & ul{
        list-style: none;
    }

    & li{
        margin: .5vw 0;
    }

    & li:nth-child(5){
        margin-top: 10vw;
    }

    & a{
        text-decoration: none;
        color: var(--color-terciary);
        font-size: 1.1vw;
        display: flex;
        align-items: center;
    }

    & i{
        color: var(--color-secundary);
        margin-right: .5vw;
        font-size: 1.2vw;
    }

    & li:nth-child(5) i{
        font-size: 1.4vw;
    }

    & span{
        background-color: var(--color-secundary);
        padding: 0 .5vw;
        margin-left: .5vw;
        border: 1px solid var(--color-terciary);
        border-radius: 10px;
    }

    & footer{
        font-size: 1.1vw;
        width: 65%;
        margin-bottom: 4vw;
        color: var(--color-terciary);
    }

}

