@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    gap: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    background-color: var(--color-terciary);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-terciary);
    color: var(--color-primary);
    height: 7.3vh;

    & p {
        text-transform: capitalize;
        font-size: 1.5vw;
        margin-left: 3vw;
    }
}

#toggle,
header label{
    display: none;
    cursor: pointer;
}


.menu__nav {
    & ul {
        display: flex;
        list-style: none;
    }

    & a {
        text-decoration: none;
        color: var(--color-secundary);
        font-size: 1.1vw;

    }

    & li {
        margin: 1vw;
    }

    & li:last-child {
        margin-right: 3vw;
    }
}

.menu {
    position: fixed;
    top: 0;
    width: 100%;
}

main {
    width: 100%;
}

.home {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
        "homefull homeimg"
    ;
}

.home__full {
    width: 100%;
    height: 100%;
    grid-area: homefull;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    & .home__full__cont {
        margin-right: 8vw;

        & h1 {
            font-size: 5vw;
            font-weight: 400;
            text-transform: capitalize;
            color: var(--color-primary);
        }

        & p {
            color: var(--color-secundary);
            white-space: pre-line;
            font-size: 1.7vw;
            padding-bottom: 1.4vw;
        }

        & button {
            background-color: var(--color-primary);
            color: var(--color-secundary);
            font-size: 1.2vw;
            padding: .5vw;
            border: 0;
        }

    }

}

.home__img {
    grid-area: homeimg;
    display: flex;
    align-items: center;
    margin-left: 8vw;

    & .home__img__cont {
        width: 60%;
    }

    & img {
        width: 100%;
    }
}

.aboutus {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
        "usimg usabout"
    ;
}

.us__about {
    width: 100%;
    height: 100%;
    grid-area: usabout;
    display: flex;
    align-items: center;

    & .us__about__cont {
        margin-left: 8vw;

        & .about__cont__p1 {
            color: var(--color-primary);
            font-size: 1.5vw;
        }

        & h1 {
            color: var(--color-secundary);
            white-space: pre-line;
            font-weight: 400;
            font-size: 3vw;
        }

        & .about__cont__p2 {
            color: var(--color-secundary);
            font-size: 1.2vw;
            white-space: pre-line;
            padding-bottom: 1.4vw;
            padding-top: 1vw;
        }

        & button {
            background-color: var(--color-primary);
            color: var(--color-secundary);
            font-size: 1.2vw;
            padding: .5vw 1.5vw;
            border: 0;
        }

    }

}

.us__img {
    grid-area: usimg;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 8vw;

    & .us__img__cont {
        width: 70%;
    }

    & img {
        width: 100%;
    }
}

.menumain {
    width: 100%;
    height: 100vh;
    text-align: center;

    & .menumain__food {
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    & .menumain__food p:nth-child(1) {
        color: var(--color-primary);
        text-transform: capitalize;
        font-size: 1.5vw;
        padding-bottom: 1vw;
        margin-top: 4vw;
    }

    & .menumain__food p:nth-child(2) {
        color: var(--color-secundary);
        font-size: 3vw;
    }

    & .food__column {
        width: 100%;
        height: 60%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }

    & .burguer__img,
    .special__img,
    .fry__img {
        width: 60%;
    }

    & .burguer__img img,
    .special__img img,
    .fry__img img {
        width: 100%;
    }

    & .column__burguer,
    .column__special,
    .column__fry {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & .column__burguer {
        display: flex;
        justify-content: flex-end;
    }

    & .column__fry {
        display: flex;
        justify-content: flex-start;
    }

    & .burger__cont,
    .special__cont,
    .fry__cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--color-quintuple);
        width: 70%;
    }

    & .burger__cont i,
    .special__cont i,
    .fry__cont i {
        display: inline;
        text-align: right;
        width: 100%;
        color: var(--color-primary);
        font-size: 1.8vw;
    }

    & .burger__cont p:nth-child(3),
    .special__cont p:nth-child(3),
    .fry__cont p:nth-child(3) {
        font-size: 1.5vw;
    }

    & .burger__cont p:nth-child(4),
    .special__cont p:nth-child(4),
    .fry__cont p:nth-child(4) {
        font-size: 1vw;
    }

    & .burger__cont p:nth-child(5),
    .special__cont p:nth-child(5),
    .fry__cont p:nth-child(5) {
        color: var(--color-primary);
    }

}

.services {
    width: 100%;
    height: 100vh;
    text-align: center;

    & .services__services {
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    & .services__services p:nth-child(1) {
        color: var(--color-primary);
        text-transform: capitalize;
        font-size: 1.5vw;
        padding-bottom: 1vw;
        margin-top: 4vw;
    }

    & .services__services p:nth-child(2) {
        color: var(--color-secundary);
        font-size: 3vw;
    }

    & .services__column {
        width: 100%;
        height: 60%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }

    & .order__s1,
    .shipping__s2,
    .dellvered__s3 {
        width: 40%;
    }

    & .order__s1 img,
    .shipping__s2 img,
    .dellvered__s3 img {
        width: 100%;
    }

    & .column__order,
    .column__shipping,
    .column__dellvered {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    & .column__order p:nth-child(2),
    .column__shipping p:nth-child(2),
    .column__dellvered p:nth-child(2) {
        color: var(--color-primary);
        text-transform: capitalize;
        font-size: 1.5vw;
    }

    & .column__order p:nth-child(3),
    .column__shipping p:nth-child(3),
    .column__dellvered p:nth-child(3) {
        color: var(--color-secundary);
        font-size: 1vw;
        white-space: pre-line;
        text-align: center;
    }
}

.quality {
    width: 100%;
    height: 62.7vh;
    padding: 6vw;

    & .quality__cont {
        width: 100%;
        height: 100%;
        background: var(--color-quintuple);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        white-space: pre-line;
        text-align: center;

        & p {
            font-size: 2.5vw;
        }

        & button {
            background-color: var(--color-primary);
            color: var(--color-secundary);
            font-size: 1vw;
            padding: .3vw 1.5vw;
            border: 0;
            margin-top: 2vw;
        }

    }

}

footer {
    width: 100%;
    height: 30vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
        ". footermenu footerservice footerinformation footercontact ."
    ;

    & .footer__menu {
        grid-area: footermenu;
    }

    & .footer__service {
        grid-area: footerservice;
    }

    & .footer__information {
        grid-area: footerinformation;
    }

    & .footer__contact {
        grid-area: footercontact;
    }

    & ul {
        list-style: none;
    }

    & a {
        text-decoration: none;
        color: var(--color-secundary);
        font-size: 1vw;
    }

    & .footer__contact ul {
        display: flex;

        & a {
            color: var(--color-primary);
            font-size: 1.3vw;
        }

        & li {
            margin: 0 .2vw;
        }

        & li:nth-child(1) {
            margin-left: 0;
        }
    }

    & p {
        color: var(--color-secundary);
        text-transform: capitalize;
        font-size: 1.5vw;
    }

    & div {
        width: 15%;
        border: 1px solid var(--color-primary);
        margin: .4vw 0;
    }

    & .footer__contact,
    .footer__information,
    .footer__menu,
    .footer__service {
        padding-top: 2vw;
    }

}

@media (width < 600px) and (height > 629px) {

    * {
        padding: 0;
        margin: 0;
        gap: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    body {
        width: 100vw;
        background-color: var(--color-terciary);
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--color-terciary);
        color: var(--color-primary);
        height: 7.3vh;

        & p {
            text-transform: capitalize;
            font-size: 4vw;
            margin-left: 5vw;
        }

        & label{
            display: initial;
            margin-right: 3vw;
        }

    }



    .menu__nav {

        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        display: none;

        & ul {
            display: flex;
            list-style: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: var(--color-sextuple);
        }

        & a {
            text-decoration: none;
            color: var(--color-secundary);
            font-size: 5vw;

        }

        & li {
            margin: 2vw;
        }
    }

    #toggle:checked ~ 

    .menu {
        position: fixed;
        top: 0;
        width: 100%;
    }

    main {
        width: 100%;
    }

    .home {
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "homefull"
            "homeimg"
        ;
    }

    .home__full {
        grid-area: homefull;
        display: flex;
        align-items: center;
        justify-content: center;

        & .home__full__cont {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: 0;

            & h1 {
                font-size: 14vw;
                font-weight: 400;
                text-transform: capitalize;
                color: var(--color-primary);
            }

            & p {
                color: var(--color-secundary);
                white-space: pre-line;
                font-size: 5vw;
                margin-bottom: 3vw;
            }

            & button {
                background-color: var(--color-primary);
                color: var(--color-secundary);
                font-size: 3vw;
                padding: .5vw 3vw;
                border: 0;
            }

        }

    }

    .home__img {
        grid-area: homeimg;
        display: flex;
        margin: 0;
        align-items: flex-start;
        justify-content: center;

        & .home__img__cont {
            width: 70%;
        }

        & img {
            width: 100%;
        }
    }

    .aboutus {
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "usabout"
            "usimg"
        ;
    }

    .us__about {
        width: 100%;
        height: 100%;
        grid-area: usabout;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        & .us__about__cont {
            margin: 0;

            & .about__cont__p1 {
                color: var(--color-primary);
                font-size: 5vw;
            }

            & h1 {
                color: var(--color-secundary);
                white-space: pre-line;
                font-weight: 400;
                font-size: 7vw;
            }

            & .about__cont__p2 {
                color: var(--color-secundary);
                font-size: 3vw;
                white-space: pre-line;
                padding-bottom: 1.4vw;
                padding-top: 1vw;
            }

            & button {
                background-color: var(--color-primary);
                color: var(--color-secundary);
                font-size: 3vw;
                padding: 1vw 5vw;
                border: 0;
                margin-top: 5vw;
            }

        }

    }

    .us__img {
        grid-area: usimg;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin: 0;

        & .us__img__cont {
            width: 70%;
        }

        & img {
            width: 100%;
        }
    }


    .menumain {
        width: 100%;
        height: 100vh;
        text-align: center;

        & .menumain__food {
            width: 100%;
            height: 20%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        & .menumain__food p:nth-child(1) {
            color: var(--color-primary);
            text-transform: capitalize;
            font-size: 4vw;
        }

        & .menumain__food p:nth-child(2) {
            color: var(--color-secundary);
            font-size: 6vw;
        }

        & .food__column {
            width: 100%;
            height: 80%;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
        }

        & .burguer__img,
        .special__img,
        .fry__img {
            width: 30%;
        }

        & .burguer__img img,
        .special__img img,
        .fry__img img {
            width: 100%;
        }

        & .column__burguer,
        .column__special,
        .column__fry {
            display: flex;
            align-items: flex-start;
            justify-content: center;
        }
/* 
        & .column__burguer {
            display: flex;
            align-items: flex-end;
        }

        & .column__fry {
            display: flex;
            align-items: flex-start;
        } */

        & .burger__cont,
        .special__cont,
        .fry__cont {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: var(--color-quintuple);
            width: 70%;
        }

        & .burger__cont i,
        .special__cont i,
        .fry__cont i {
            display: inline;
            text-align: right;
            width: 100%;
            color: var(--color-primary);
            font-size: 5vw;
        }

        & .burger__cont     p:nth-child(3),
        .special__cont p:nth-child(3),
        .fry__cont p:nth-child(3) {
            font-size: 5vw;
        }

        & .burger__cont p:nth-child(4),
        .special__cont p:nth-child(4),
        .fry__cont p:nth-child(4) {
            font-size: 3vw;
        }

        & .burger__cont p:nth-child(5),
        .special__cont p:nth-child(5),
        .fry__cont p:nth-child(5) {
            color: var(--color-primary);
            font-size: 3vw;
        }

    }

    .services {
        width: 100%;
        height: 100vh;
        text-align: center;

        & .services__services {
            width: 100%;
            height: 20%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        & .services__services p:nth-child(1) {
            color: var(--color-primary);
            text-transform: capitalize;
            font-size: 4vw;
        }

        & .services__services p:nth-child(2) {
            color: var(--color-secundary);
            font-size: 6vw;
        }

        & .services__column {
            width: 100%;
            height: 80%;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
        }

        & .order__s1,
        .shipping__s2,
        .dellvered__s3 {
            width: 40%;
        }

        & .order__s1 img,
        .shipping__s2 img,
        .dellvered__s3 img {
            width: 60%;
        }

        & .column__order,
        .column__shipping,
        .column__dellvered {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }

        
        & .column__order p:nth-child(2),
        .column__shipping p:nth-child(2),
        .column__dellvered p:nth-child(2) {
            color: var(--color-primary);
            text-transform: capitalize;
            font-size: 5vw;
        }

        & .column__order p:nth-child(3),
        .column__shipping p:nth-child(3),
        .column__dellvered p:nth-child(3) {
            color: var(--color-secundary);
            font-size: 3vw;
            white-space: pre-line;
            text-align: center;
        }
    }

    .quality {
        width: 100%;
        height: 22.7vh;
        padding: 6vw;

        & .quality__cont {
            width: 100%;
            height: 100%;
            background: var(--color-quintuple);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            white-space: pre-line;
            text-align: center;

            & p {
                font-size: 2.5vw;
            }

            & button {
                background-color: var(--color-primary);
                color: var(--color-secundary);
                font-size: 1vw;
                padding: .3vw 1.5vw;
                border: 0;
                margin-top: 2vw;
            }

        }

    }

    footer {
        width: 100%;
        height: 70vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
            "footermenu" 
            "footerservice" 
            "footerinformation" 
            "footercontact"
        ;

        & .footer__menu {
            grid-area: footermenu;
        }

        & .footer__service {
            grid-area: footerservice;
        }

        & .footer__information {
            grid-area: footerinformation;
        }

        & .footer__contact {
            grid-area: footercontact;
        }

        & ul {
            list-style: none;
        }

        & a {
            text-decoration: none;
            color: var(--color-secundary);
            font-size: 1vw;
        }

        & .footer__contact ul {
            display: flex;

            & a {
                color: var(--color-primary);
                font-size: 1.3vw;
            }

            & li {
                margin: 0 .2vw;
            }

            & li:nth-child(1) {
                margin-left: 0;
            }
        }

        & div {
            width: 15%;
            border: 1px solid var(--color-primary);
            margin: .4vw 0;
        }

        & .footer__contact,
        .footer__information,
        .footer__menu,
        .footer__service {
            padding-top: 4vw;
            margin-left: 6vw;

            & p{
                font-size: 5vw; 
             }
 
             & a{
                font-size: 3vw;
             }

             & i{
                font-size: 4vw;
             }
        }

        .footer__contact{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;
        }

        .footer__menu{
            padding: 0;
        }

    }
}